
/* offer section*/
.offer-item
{
    width: 30%;
    float: left;
    margin-bottom: 35px;
    border: 1px solid #e8e8e8;
    padding: 20px 15px 30px 70px;
    position: relative;
}
.offer-item .icon
{
    position: absolute;
    left: 15px;
    top: 25px;
    color: #6159FF;
}
.offer-item-title
{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}
.offer-item-desc
{
    margin-bottom: 15px;
    color: #999;
    line-height: 1.5;

}
.offer-item.mg 
{
    margin: 0 3%;
}
.offer-item:hover .offer-item-title
{
    color: #fff;
}